*{
    margin: 0;
}
html{
    font-family: "Montserrat", serif;
    color: #ffffff;
    background-color: black;
}

/* ------------------------------------------ */

header{
    height: 80px;
    padding: 0 15px;
    background-color: black;

    border-bottom: solid 3px #3C8BBB;

    display: flex;
    align-items: center;
    justify-content: space-between;

    position: sticky;
    top: 0;
}
header #h-links {
    display: none;
    position: absolute;
    left: 0;
    top: 82px;

    width: 100%;

    background-color: #bb3c3c;
}
header #h-links a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.phone{
    font-size: 18px;
}
.email{
    font-size: 11px;
}

/* ------------------------------------------ */

.hero {
    background-image: url("media/hero_image.png");
    width: 100%;
    height: 450px;
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
  }

.hero p{
    font-size: 14px;
    font-weight: 500;

    margin-top: 15px;
}
.get_in_touch{
    background-color: #3C8BBB; /* Green */
    border: none;
    color: white;
    padding: 21px 28px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
}
.hero_btn{
    border-radius: 100px;

    margin: 40px;

    font-weight: 700;
}

/* ------------------------------------------ */

.read-bio-link{
    all: unset;
}
.cont-bio{
    margin: 40px auto;
    width: 90%;
    border-radius: 23px;
    padding: 1px;


    background-color: #E8E8E8;
    color: black;
}
.bio-content{
    display: flex;
    justify-content: space-between;

    margin: 15px;
}
.bio-text{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.bio-personal .name{
    font-size: 20px;
    font-weight: bold;
}
.bio-personal .role{
    font-size: 16px;
    font-weight: 500;

    margin-top: 5px;

}
.read-bio{
    font-size: 20px;
    font-weight: bold;
}

/* ------------------------------------------ */

.service-conditions{
    width: 90%;
    margin: auto;
}
.intro h1{
    color: #5CC1FF;
}
.intro p{
    font-size: 18px;
    line-height: 1.5;
}
.element{
    display: flex;
    align-items: flex-start;

    margin-top: 20px;
}
.element img{
    margin-right: 20px;
}
.element .text h2{
    color: #5CC1FF;
    margin-bottom: 5px;
}

.custom-line {
    border: none;
    border-top: 1px solid #ffffff; /* Adjust color */
    width: 65%; /* Adjust width */
    margin: 20px auto; /* Center horizontally and set vertical spacing */
}



.filler{
    height: 1000px;
}