*{
    margin: 0;
}
html{
    font-family: "Poppins", serif;

    color: #ffffff;
    background-color: black;

     /* */
    /* width:375px;
    height:667px;
    transform-origin: 0 0;
    transform:scale(0.67);  */
    /*  */
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
/* ------------------------------------------ */
.custom-line {
    border: none;
    border-top: 1px solid #ffffff; /* Adjust color */
    width: 65%; /* Adjust width */
    margin: 20px auto; /* Center horizontally and set vertical spacing */
}

.filler{
    height: 1000px;
}

/* ------------------------------------------ */

header{
    height: 80px;
    padding: 0 15px;
    background-color: black;

    border-bottom: solid 3px #3C8BBB;

    position: sticky;
    z-index: 9999;
    top: 0;
}
header .inside{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.inside{
    height: 100%;

    max-width: 1296px;
    margin: auto;
}
header button{
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    border-spacing: 0;
}
.hd-logo a img{
    width: 50px;
    height: 50px;
}
header #h-links {
    display: none;
    position: absolute;
    left: 0;
    top: 82px;

    width: 100%;

    background-color: #bb3c3c;
}
header #h-links a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;

    border-bottom: 1px solid rgb(200, 200, 200) 200px;
}

.h-links .custom-line-{
    border: none;
    border-top: 1px solid #ffffff; /* Adjust color */
    width: 10%; /* Adjust width */
    margin: 20px auto; /* Center horizontally and set vertical spacing */
}

.phone{
    font-size: 18px;
}
.email{
    font-size: 11px;
}

/* ------------------------------------------ */

footer{
    background-color: #272727;
    padding: 1px;
}

.brand{
    width: 90%;
    margin: 20px auto;
    display: flex;
    align-items: center;

}
.brand img{
    width: 100%;
}
footer ul{
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
}
.follow_us{
    width: 90%;
    margin: 20px auto;
}
.follow_us ul li{
    margin: 15px 0;
    margin-right: 15px;
}
.quick{
    width: 90%;
    margin: 20px auto;
}
.quick a{
    color: #ffffff;
}
.quick ul{
    display: flex;
    flex-direction: column;

}
.quick li{
    
    font-size: 24px;
    margin-top: 10px;
}
/* ------------------------------------------ */

@media only screen and (min-width: 768px){

    .custom-line{
        margin: 60px auto;
        border-color: rgb(88, 88, 88);
        border-width: 3px;
    }
    /* ------------------------------------------ */



    /* ------------------------------------------ */

}







.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: #bb3c3c;
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 10%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    font-weight: 500;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }


.hr-h{
    width: 40%;
    margin: 30px auto;

    border-color: white;
    border-width: 2px;
}

.bo{
    margin-top: 20px;
}
.bo a{
    font-size: 20px;
    padding: 0;

    line-height: 1.3;
    font-weight: 300;

    overflow: hidden;
    white-space: nowrap;
}
.overlay .ua{
    width: 42px;
}
.ua-link{
    display: flex;
    justify-content: center;
}